@charset "UTF-8";

.button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  content: "";
  width: 100%;
  height: 100%;
}

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 0;
  padding: 0;
  height: 5rem;
  height: clamp(5rem, 6vw, 7rem);
  min-width: 5rem;
  min-width: clamp(5rem, 6vw, 7rem);
  box-shadow: .125rem .125rem .25rem rgba(0, 0, 0, .25);
  cursor: pointer;
}

.circle .button.hover::before,
.circle .button {
  border-radius: 2.5rem;
  border-radius: clamp(2.5rem, 3vw, 3.5rem);
}

.button.hover::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background .15s ease-in-out;
}

.button.hover:hover::before {
  background: rgba(0, 0, 0, .1);
}

.button > span {
  position: relative;
  z-index: 2;
}

.button.text > span:last-child {
  margin-left: 2rem;
  margin-left: clamp(2rem, 2.5vw, 3rem);
  margin-right: 2rem;
  margin-right: clamp(2rem, 2.5vw, 3rem);
  white-space: nowrap;
  color: #000;
}

.button.icon > span:first-child {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: 2.25rem 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.icon:not(.text) > span:first-child + span,
.button.text:not(.icon) > span:first-child {
  display: none;
}
