@charset "UTF-8";

.section {
    padding-top: clamp(5rem, 7.5vw, 13rem);
    padding-bottom: clamp(5rem, 7.5vw, 13rem);
    position: relative;
    height: 100%;
}

.form.feedback > span {
    font-weight: 400;
    font-size: clamp(3.5rem, 4.875vw, 6.25rem);
    padding-bottom: clamp(4rem, 7vw, 10rem);
    display: block;
}
