@charset "UTF-8";

.form > span {
  display: block;
}

.form:not(.success) > .heading::after {
  content: attr(data-header);
}

.form.success > .heading::after {
  content: "Спасибо!"
}

.form,
.form > div,
.form > div > form > ul {
  position: relative;
}

.form > div > p > span {
  display: block;
}

.form > div > p > span:first-child + span {
  margin: 2rem 0 0 0;
}

.form.success > div > button,
.form.success > div > ul,
.form.success > div > form,
.form.success > div > span,
.form.success > div > p,
.form:not(.success) > div > span + span,
.form:not(.success) > div > p + p {
  display: none;
}

.form:not(.success) > div > form,
.form:not(.success) > div > span,
.form:not(.success) > div > p,
.form.success > div > span + span,
.form.success > div > p + p {
  display: block;
}

.form > div > form,
.form > div > form > ul,
.form > div > form > ul > li > div {
  position: relative;
}

.form > div > form > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: calc(100% + 4rem);
  left: -2rem;
  position: relative;
}

.form:not(.feedback) > div > form > ul > li {
  width: 100%;
}

.form > div > form > ul > li {
  margin: inherit;
  background-color: inherit;
  width: 100%;
}

.form > div > form > ul:last-child > li {
  margin-top: 5rem;
}

.form > div > form > ul:last-child > li:first-child {
  display: flex;
}

.form > div > form > ul:last-child > li:last-child > p {
  margin: 0;
  padding: 0;
}

.form > div > form > ul > li {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.form > div > form > ul > li > div {
  display: flex;
  flex-grow: 1;
  min-height: clamp(5rem, 6vw, 7rem);
  margin-top: 5rem;
}

.form > div > form > ul > li > div > label {
  display: block;
  width: 100%;
}

.form > div > form > ul > li > div > label > textarea,
.form > div > form > ul > li > div > label > input[type=text],
.form > div > form > ul > li > div > label > input[type=email],
.form > div > form > ul > li > div > label > input[type=tel] {
  display: block;
  position: relative;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  border: solid .125rem rgba(180, 180, 180, 1);
  border-radius: 0;
  line-height: 3rem;
  transition: all .25s linear;
}

.circle .form > div > form > ul > li > div > label > textarea,
.circle .form > div > form > ul > li > div > label > input[type=text],
.circle .form > div > form > ul > li > div > label > input[type=email],
.circle .form > div > form > ul > li > div > label > input[type=tel] {
  border-radius: clamp(2.5rem, 3vw, 3.5rem);
  padding: clamp(1rem, 1.5vw, 2rem) clamp(2rem, 2.5vw, 3rem);
}

.form > div > form > ul > li > div > label > textarea {
  resize: vertical;
  min-height: 15.5rem;
}

.form > div > form > ul > li > div > label > textarea + span,
.form > div > form > ul > li > div > label > input[type=text] + span,
.form > div > form > ul > li > div > label > input[type=email] + span,
.form > div > form > ul > li > div > label > input[type=tel] + span {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  z-index: 5;
  height: 3rem;
  padding: 0 .25rem;
  white-space: nowrap;
  transition: top .25s linear;
}

/* .form > div > form > ul > li > div > label > textarea + span::before,
.form > div > form > ul > li > div > label > input[type=text] + span::before,
.form > div > form > ul > li > div > label > input[type=email] + span::before,
.form > div > form > ul > li > div > label > input[type=tel] + span::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  content: "";
  background-color: #FFF;
} */

.form > div > form > ul > li > div > label > textarea + span > span,
.form > div > form > ul > li > div > label > input[type=text] + span > span,
.form > div > form > ul > li > div > label > input[type=email] + span > span,
.form > div > form > ul > li > div > label > input[type=tel] + span > span {
  position: relative;
  z-index: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  line-height: 3rem;
  transition: font .25s linear;
  color: rgba(50, 50, 50, 1);
}

.form > div > form > ul > li > div > label > textarea:focus,
.form > div > form > ul > li > div > label > input:focus {
  border: solid .125rem rgba(50, 50, 50, 1);
}

.form > div > form > ul > li > div > label > input.field.error {
  border: solid .125rem #FF0000;
}

.form > div > form > ul > li > div.required > label.required > span > span::after {
  content: " *";
}

.form > div > form > ul > li > div > label > input.field.error + span > span {
  color: #FF0000;
}

.form > div > form > ul > li > div.required > label.required > input.field.error + span > span::after {
  content: " — обязательное поле";
}

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-.15rem, 0, 0);
    transform: translate3d(-.15rem, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(.15rem, 0, 0);
    transform: translate3d(.15rem, 0, 0);
  }
}

.shake {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: shake;
  animation-name: shake;
}

@media (min-width : 1441px) {
  .form > div > form > ul {
    left: -2rem;
    width: calc(100% + 4rem);
  }

  .form > div > form > ul > li {
    width: calc(50% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row-reverse;
  }
}

@media (min-width : 1201px) and (max-width : 1440px) {
  .form > div > form > ul {
    left: -2rem;
    width: calc(100% + 4rem);
  }

  .form > div > form > ul > li {
    width: calc(50% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row-reverse;
  }
}

@media (min-width : 961px) and (max-width : 1200px) {
  .form > div > form > ul {
    left: -2rem;
    width: calc(100% + 4rem);
  }

  .form > div > form > ul > li {
    width: calc(50% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row-reverse;
  }
}

@media (min-width : 721px) and (max-width : 960px) {
  .form > div > form > ul > li {
    width: calc(50% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row-reverse;
  }
}

@media (min-width : 481px) and (max-width : 720px) {
  .form > div > form > ul > li {
    width: calc(50% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row-reverse;
  }
}

@media (max-width : 480px) {
  .form > div > form > ul > li {
    width: calc(100% - 4rem);
  }

  .form > div > form > ul:last-child > li:first-child {
    flex-direction: row;
  }
}
