@charset "UTF-8";

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
}

#map .ymaps-2-1-79-map-copyrights-promo,
#map .ymaps-2-1-79-copyright__content {
  opacity: 0 !important;
}

#map .ymaps-2-1-79-ground-pane {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

#map .ymaps-2-1-79-balloon__content,
#map .ymaps-2-1-79-balloon__tail::after,
#map .ymaps-2-1-79-balloon__layout {
  background-color: #FFF;
}

#map .ymaps-2-1-79-balloon__content {
  padding: 3rem;
  color: #454A55;
  font-size: 1.75rem;
  font-family: "content", sans-serif;
}

#map .ymaps-2-1-79-balloon__close + .ymaps-2-1-79-balloon__content {
  margin-right: 0;
}

#map .ymaps-2-1-79-balloon__close {
  top: .5rem;
  left: -1rem;
}
