@charset "UTF-8";

html {
    font-size: 8px;
}

body {
    font-family: "content", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #FFF;
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.workspace {
    overflow-y: scroll;
    position: relative;
height: 100%;
}

header {
    position: sticky;
    left: 0;
    top: 5rem;
    z-index: 50;
    width: 100%;
    height: 12rem;
}

article {
    margin-top: -12rem;
}

.main > .gallery + div {
    display: flex;
}

.center {
    position: relative;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.swiper-slide > div > .center {
    max-width: 146rem;
}

.swiper-pagination.center {
    max-width: 170rem;
}

.button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    height: 6rem;
    min-width: 6rem;
    border: 0;
    margin: 0;
    padding: 0;
}

.button > span {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.content {
    display: flex;
    align-items: flex-end;
    height: 100%;
    text-shadow: 1px 1px 2px rgb(145, 145, 145, 1);
}

.content > div {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.content > div > h1 {
    font-size: clamp(3.5rem, 5.5vw, 7.5rem);
    font-weight: 700;
    position: relative;
    padding-bottom: clamp(3rem, 4vw, 5rem);
    margin-bottom: clamp(2rem, 3vw, 4rem);
}

.content > div > h1::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 17rem;
    height: .5rem;
    border-radius: 2px;
    background-color: rgba(240, 145, 30, 1);
    content: "";
}

.content > div > span {
    font-size: clamp(2.5rem, 3.75vw, 5rem);
    font-weight: 500;
    display: block;
}

@media (min-width : 1441px) {
    .content > div {
    padding-left: 5rem;
    padding-right: 5rem;
}
    .content > div > span {
        width: 80%;
    }
}

@media (min-width : 1201px) and (max-width : 1440px) {
    .content > div {
    padding-left: 5rem;
    padding-right: 5rem;
}
    .content > div > span {
        width: 80%;
    }
}

@media (min-width : 961px) and (max-width : 1200px) {
    .content > div {
    padding-left: 0;
    padding-right: 0;
}
    .content > div > span {
        width: 100%;
    }
}

@media (min-width : 721px) and (max-width : 960px) {
    .content > div {
    padding-left: 0;
    padding-right: 0;
}
    .content > div > span {
        width: 100%;
    }
}

@media (min-width : 481px) and (max-width : 720px) {
    .content > div {
    padding-left: 0;
    padding-right: 0;
}
    .content > div > span {
        width: 100%;
    }
}

@media (max-width : 480px) {
    .content > div {
    padding-left: 0;
    padding-right: 0;
}
    .content > div > span {
        width: 100%;
    }
}
