@charset "UTF-8";

html {
    font-size: 8px;
}

body {
    font-family: "content", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #FFF;
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    height: 100vh;
    min-height: 120rem;
}

.workspace {
    position: relative;
    height: 100%;
}

article {
    height: 100%;
    margin-top: -10rem;
    margin-bottom: -10rem;
}

header {
    position: sticky;
    min-height: 10rem !important;
    background-color: crimson;
    opacity: 0.4;
    z-index: 2;
    top: 0;
}

.center {
    position: relative;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

footer {
    position: sticky;
    min-height: 10rem !important;
    background-color: darkcyan;
    opacity: 0.4;
    z-index: 2;
    bottom: 0;
}


@media (min-width : 1441px) {}

@media (min-width : 1201px) and (max-width : 1440px) {}

@media (min-width : 961px) and (max-width : 1200px) {}

@media (min-width : 721px) and (max-width : 960px) {}

@media (min-width : 481px) and (max-width : 720px) {}

@media (max-width : 480px) {}
