@charset "UTF-8";

html {
    font-size: 8px;
}

body {
    font-family: "content", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    overflow: auto;
    position: relative;
    height: 100vh;
    min-height: 100%;
}

.wrapper > span {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 60;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  cursor: pointer;
}

.wrapper:not(.opened) > span {
  width: 0;
}

.wrapper.opened > span {
  width: 100%;
}

.wrapper:not(.aside) > .sidebar {
  width: 0;
}

.wrapper.aside > .sidebar {
  width: 100%;
}

.wrapper.aside > .sidebar {
    width: 100%;
}

.wrapper > .sidebar {
    max-width: 40rem;
    overflow-y: auto;
    transition: width .15s linear;
}

.wrapper > .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 70;
  height: inherit;
  min-height: inherit;
  overflow-x: hidden;
  background-color: violet;
  display: flex;
  flex-direction: column;
}

.workspace {
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 60rem;
}

.center {
    position: relative;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 146rem;
}

.center.content {
    max-width: 98rem;
}

header,
footer {
    position: sticky;
    height: 10rem;
    z-index: 2;
}

header {
    /* position: sticky;
  min-height: 10rem !important;
  z-index: 2; */
    top: 0;
    /* + */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, 0) 100%);
}

article {
    height: 100%;
    margin-top: -10rem;
    margin-bottom: -10rem;
}

footer {
    /* position: sticky;
  min-height: 10rem !important;
  z-index: 2; */
    bottom: 0;
    /* + */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, 0) 100%);
}

footer > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* min-height: inherit; */
    height: inherit;
    align-items: center;
}

.section {
    padding-top: clamp(5rem, 7.5vw, 13rem);
    padding-bottom: clamp(5rem, 7.5vw, 13rem);
    position: relative;
    height: 100%;
    overflow-y: scroll;
}


@media (min-width : 1441px) {}

@media (min-width : 1201px) and (max-width : 1440px) {}

@media (min-width : 961px) and (max-width : 1200px) {}

@media (min-width : 721px) and (max-width : 960px) {}

@media (min-width : 481px) and (max-width : 720px) {}

@media (max-width : 480px) {}
