@charset "UTF-8";

html {
    font-size: 8px;
}

body {
    font-family: "content", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #FFF;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    max-width: 100vw;
    overflow: auto;
    position: relative;
    height: 100vh;
    min-height: 100%;
}

.workspace {
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 60rem;
}

article {
    height: 100%;
    margin-top: -10rem;
    margin-bottom: -10rem;
}

header {
    position: sticky;
    min-height: 10rem !important;
    z-index: 2;
    top: 0;
    
}

.center {
    position: relative;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 146rem;
}

.content {
    display: flex;
    align-items: flex-end;
    height: 100%;
    text-shadow: #5f5f5f 1px 0 10px;
}

.content > div {
    padding-bottom: 10rem;
}

.content > div > h1 {
    font-size: clamp(3.5rem, 5.5vw, 7.5rem);
    font-weight: 700;
    position: relative;
    margin-bottom: clamp(2rem, 3vw, 4rem);
}

.content > div > p {
    font-size: clamp(2.5rem, 2.875vw, 3.25rem);
    font-weight: 400;
}

footer {
    position: sticky;
    min-height: 10rem !important;
    z-index: 2;
    bottom: 0;
}

footer > div {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: inherit;
    align-items: center;
}

@media (min-width : 1441px) {}

@media (min-width : 1201px) and (max-width : 1440px) {}

@media (min-width : 961px) and (max-width : 1200px) {}

@media (min-width : 721px) and (max-width : 960px) {}

@media (min-width : 481px) and (max-width : 720px) {}

@media (max-width : 480px) {}
