@charset "UTF-8";

.swiper-container,
.swiper-container > .swiper,
.swiper-container > .swiper > .swiper-wrapper,
.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.swiper-container > .swiper-button {
    position: absolute;
    top: calc(50% - 3rem);
    z-index: 1;
    height: 6rem;
    opacity: .25;
    transition: opacity .25s ease-in-out;
}

.swiper-pagination.swiper-pagination-lock,
.swiper-container > .swiper-button.swiper-button-disabled {
    display: none;
}

.swiper-container > .swiper-button:hover {
    opacity: 1;
}

.swiper-container > .swiper-button.next {
    left: calc(100% - 6rem);
}

.swiper-container > .swiper-button.prev {
    transform: scale(-1, 1);
    right: calc(100% - 6rem);
}

.swiper-container > .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    z-index: 1;
}

.swiper-container > .swiper > .swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.main > .gallery.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main > .gallery.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    height: 100%;
    transition-property: opacity;
}

.main > .gallery.swiper-container > .swiper > .swiper-wrapper > .swiper-slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color, darken;
}

.swiper-pagination {
    left: 0;
    top: 2rem;
    width: 100%;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 100%;
    height: .5rem;
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;
    opacity: .25;
}

.swiper-pagination > .swiper-pagination-bullet:not(:last-child) {
    margin: 0 2rem 0 0;
}

.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet {
    cursor: pointer;
    transition: transform .25s ease-in-out;
}

@media (min-width : 1441px) {
  .swiper-container > .swiper-button {
        display: block;
    }
}

@media (min-width : 1201px) and (max-width : 1440px) {
  .swiper-container > .swiper-button {
        display: block;
    }
}

@media (min-width : 961px) and (max-width : 1200px) {
 .swiper-container > .swiper-button {
        display: none;
    }
}

@media (min-width : 721px) and (max-width : 960px) {
 .swiper-container > .swiper-button {
        display: none;
    }
}

@media (min-width : 481px) and (max-width : 720px) {
  .swiper-container > .swiper-button {
        display: none;
    }
}

@media (max-width : 480px) {
    .swiper-container > .swiper-button {
        display: none;
    }
}
