@charset "UTF-8";

.swiper-container,
.swiper-container > .swiper,
.swiper-container > .swiper > .swiper-wrapper,
.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.swiper-container > .swiper-button {
    position: absolute;
    top: calc(50% - 3rem);
    z-index: 1;
    height: 6rem;
    opacity: .25;
    transition: opacity .25s ease-in-out;
}

.swiper-pagination.swiper-pagination-lock,
.swiper-container > .swiper-button.swiper-button-disabled {
    display: none;
}

.swiper-container > .swiper-button:hover {
    opacity: 1;
}

.swiper-container > .swiper-button.next {
    left: 100%;
}

.swiper-container > .swiper-button.prev {
    transform: scale(-1, 1);
    right: 100%;
}

.swiper-container > .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    z-index: 1;
}

.swiper-container > .swiper > .swiper-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.main > .gallery.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main > .gallery.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    height: 100%;
    transition-property: opacity;
}

.main > .gallery.swiper-container > .swiper > .swiper-wrapper > .swiper-slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color, darken;
}

.swiper-pagination:not(.swiper-pagination-lock) {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 2rem;
    position: relative;
    z-index: 10;
}

.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #BA0C2F;
}

.swiper-pagination > .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    cursor: pointer;
    transition: transform .25s ease-in-out;
    background-color: rgba(240, 240, 240, 1);
}

.swiper-pagination > .swiper-pagination-bullet:hover,
.swiper-pagination > .swiper-pagination-bullet-active {
    transform: scale(1.35);
}

.main > .gallery + div > div:last-child > div > .swiper-pagination:not(.swiper-pagination-lock) {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: clamp(3rem, 5.125vw, 7.25rem);
}

.gallery + .swiper-pagination:not(.swiper-pagination-lock) {
    margin-top: 4rem;
    margin-bottom: clamp(-6rem, -3vw, 0rem);
    height: 2rem;
    justify-content: center;
}

@media (min-width : 1441px) {
  
}

@media (min-width : 1201px) and (max-width : 1440px) {
  
}

@media (min-width : 961px) and (max-width : 1200px) {
 
}

@media (min-width : 721px) and (max-width : 960px) {
 
}

@media (min-width : 481px) and (max-width : 720px) {
  
}

@media (max-width : 480px) {
  
}
