@charset "UTF-8";

.swiper-container,
.swiper-container > .swiper,
.swiper-container > .swiper > .swiper-wrapper,
.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container > .swiper {
    width: 100%;
    height: 100%;
}

.swiper-container > .swiper > .swiper-wrapper {
    width: 100%;
    height: 100%;
    background-color: coral;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    height: 100%;
    transition-property: opacity;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color, darken;
}
