@charset "UTF-8";

.swiper-container,
.swiper-container > .swiper,
.swiper-container > .swiper > .swiper-wrapper,
.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    position: relative;
}

.swiper-container,
.swiper-container > .swiper,
.swiper-container > .swiper > .swiper-wrapper,
.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-container > .swiper > .swiper-wrapper {
    display: flex;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide {
    flex-shrink: 0;
}

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-container > .swiper > .swiper-wrapper > .swiper-slide > div:not(.center.content) {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: color, darken;
}

.swiper-button.swiper-button-disabled {
    opacity: .5;
}

.swiper-button {
    display: flex;
     opacity: 1;
    transition: opacity .25s ease-in-out;
}

.swiper-button:hover {
    opacity: 1;
}

.swiper-button.next {
    margin-left: 1rem;
}

.swiper-button.prev {
    transform: scale(-1, 1);
}

.swiper-pagination {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    left: 0;
    top: calc(5rem - .5rem);
    width: 100%;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 100%;
    height: .5rem;
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;
    opacity: .25;
}

.swiper-pagination > .swiper-pagination-bullet:not(:last-child) {
    margin: 0 2rem 0 0;
}

.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet {
    cursor: pointer;
    transition: transform .25s ease-in-out;
}

