@charset "UTF-8";

@font-face {
  font-family: "accent";
  font-display: swap;
  src: local("RobotoSlabRegular"), local("Roboto Slab Regular"), local("RobotoSlab-Regular"), local("Roboto-Slab-Regular");
  src: url("RobotoSlab-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
