@charset "UTF-8";

@font-face {
  font-family: "content";
  font-display: swap;
  src: local("RobotoBold"), local("Roboto Bold"), local("Roboto-Bold");
  src: url("Roboto-Bold.woff") format("woff"), url("Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
