@charset "UTF-8";

@font-face {
  font-family: "accent";
  font-display: swap;
  src: local("RobotoSlabLight"), local("Roboto Slab Light"), local("RobotoSlab-Light"), local("Roboto-Slab-Light");
  src: url("RobotoSlab-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
